html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
}

#app {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}
